* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(200, 199, 183);
    line-height: 150%;
}

a {
    color: rgb(167, 167, 206);
}

body {
    background-color: rgb(23, 23, 41);
}

img {
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#night-mode {
    float: right;
    filter: sepia(1) contrast(50%) opacity(10%);
}

#night-mode a {
    text-decoration: none;
}

#night-mode:hover {
    filter: opacity(50%);
}

code {
    border: solid 2px rgba(235, 235, 235, 0.15);
    background-color: rgba(246, 246, 246, 0.15);
    color: rgb(218, 218, 218);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}