body {
    grid-template-columns: max(min(25vw, 300px), 140px) 1fr min(70vw, 700px) 1fr 0;
    display: grid;
    max-width: 100vw;
}

#main {
    grid-column: 3;
}

#sidebar {
    text-align: center;
    padding: 0 0.5rem 2rem 0.5rem;
    position: sticky;
    grid-column: 1;
    height: calc(100vh - 110px);
    margin: 0;
    top: 0;
    padding: 20px;
    padding-top: 50px;
}

#sidebar {
    grid-column: 1;
}

#sidebar p,
#sidebar a,
#sidebar span {
    font-size: calc(0.85 * var(--font-size));
}

#sidebar article {
    margin: 0;
    height: 100%;
    margin-left: -20px;
    position: relative;
}

#sidebar nav {
    margin: -28px -17px 15px -10px;
}

#sidebar nav li {
    opacity: 20%;
    padding: 0 10px 0 10px;
}

#sidebar nav li:hover,
#open-sidebar:hover {
    opacity: 60%;
}

#open-sidebar {
    opacity: 20%;
}

#sidebar button {
    padding: 2px 7% 5px 7%;
    margin-bottom: 0.25rem;
}

#sidebar .grid {
    column-gap: 0.25rem;
}

#sidebar footer {
    background: none;
    border: none;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

#sidebar footer #barde-info {
    font-size: small;
    opacity: 40%;
    color: var(--muted-color)
}

#loading {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#restart-confirm article {
    padding: 2rem;
    padding-bottom: 1.25rem;
}

.has-tooltip {
    display: inline-block;
    position: relative;
}

.has-tooltip:not(a):not(button) {
    text-decoration: underline dotted;
}

.has-tooltip article {
    display: none;
    margin: 0;
    z-index: 10;
    padding: 0.75rem;
    font-size: 80%;
    color: var(--contrast);
    width: min(25vw, 250px);
    transform: translate(0, -0.25rem);
    margin-left: calc(50% - 0.5 * min(25vw, 250px));
    text-align: center;
    pointer-events: none;
    opacity: 0.95;
}

.has-tooltip:hover article {
    display: block;
    position: absolute;
    bottom: 100%;
}

span.has-tooltip:hover {
    cursor: help;
}

.blink {
    animation: blink 2s infinite both;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}

.single-card {
    aspect-ratio: 2.5 / 3.5;
    width: min(23vw, 230px, 100%);
    margin: 0 auto;
    position: relative;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-background-color);
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10%;
    word-wrap: break-word;
}

.flip-card {
    background-color: transparent;
    aspect-ratio: 2.5 / 3.5;
    width: min(23vw, 230px, 100%);
    perspective: 1000px;
    margin: 0 auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    background: var(--card-background-color);
}

.flip-card-front {
    background-size: cover;
    background-position: center;
}

.flip-card-back {
    transform: rotateY(180deg);
    padding: 10%;
    word-wrap: break-word;
    overflow-y: scroll;
    scrollbar-width: none;
}

.flip-card-back::-webkit-scrollbar,
.single-card::-webkit-scrollbar {
    display: none;
}

.card-grid {
    display: grid;
    gap: 1rem;
    margin: var(--block-spacing-vertical) 0;
}

.card-action:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.hexgrid-container {
    --hexgrid-cell-size: 100px;
    --hexgrid-gap: 10px;
    display: grid;
    padding-left: calc(var(--hexgrid-cell-size) / 2 + var(--hexgrid-gap) / 2);
    padding-bottom: calc(var(--hexgrid-cell-size) * 0.7114 / 2);
    column-gap: var(--hexgrid-gap);
    row-gap: calc(var(--hexgrid-gap) * 1.1547);
    margin: var(--block-spacing-vertical) auto;
}

.hexgrid-cell-wrap {
    filter: drop-shadow(0 0.125rem 1rem rgba(27, 40, 50, 0.04)) drop-shadow(0 0.125rem 2rem rgba(27, 40, 50, 0.08)) drop-shadow(0 0 0.0625rem rgba(27, 40, 50, 0.024));
}

.hexgrid-action:hover {
    zoom: 110%;
    z-index: 999;
    transform: translate(-5%, -5%);
    cursor: pointer;
}

.hexgrid-cell {
    background-color: var(--card-background-color);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: var(--hexgrid-cell-size);
    height: calc(var(--hexgrid-cell-size) * 1.1547);
}

.focus {
    background-color: red;
}

.tl-border {
    z-index: 0;
    position: fixed;
    background-color: blue;
    width: calc((var(--hexgrid-cell-size) + var(--hexgrid-gap)) / 2 * 1.1547);
    height: calc(var(--hexgrid-gap) / 2);
    transform: translateX(calc(var(--hexgrid-cell-size) / 2))/**/
    translate( calc( (var(--hexgrid-cell-size) + var(--hexgrid-gap)) / -4 * 1.1547), calc(var(--hexgrid-gap) / -4))/**/
    translateY( calc( 0.5774 * var(--hexgrid-cell-size) / 4))/**/
    translateX( calc(var(--hexgrid-cell-size) / -4))/**/
    translateY( calc( var(--hexgrid-gap) * 0.866 * -0.25))/**/
    translateX( calc( var(--hexgrid-gap) * 0.5 * -0.25))/**/
    rotate(-30deg);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}