/* Taken from simple CSS dark mode, used to overwrite automatic dark mode detection */

:root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: #ffb300;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
}

img,
video {
    opacity: 0.8;
}