/* Taken from simple CSS mode, used to overwrite automatic dark mode detection */

:root {
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1;
    --code: #d81b60;
    --preformatted: #444;
    --disabled: #efefef;
}

img,
video {
    opacity: 1.0;
}